name: Continuous Integration

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [ master ]


jobs:
  #### Java
  java-hello-world:
    name: Java Hello World
    runs-on: ubuntu-latest
    container:
      image: adoptopenjdk/maven-openjdk11
    steps:
      - name: Checkout the repository
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      - name: Cache Java packages
        uses: actions/cache@1a9e2138d905efd099035b49d8b7a3888c653ca8
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build
        run: |
          cd java/HelloWorld
          ./scripts/clean.sh
          ./scripts/build.sh

  java-second-hello-world:
    name: Java Second Hello World
    runs-on: ubuntu-latest
    container:
      image: adoptopenjdk/maven-openjdk11
    steps:
      - name: Checkout the repository
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      - name: Cache Java packages
        uses: actions/cache@1a9e2138d905efd099035b49d8b7a3888c653ca8
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build
        run: |
          cd java/SecondHelloWorld
          ./scripts/clean.sh
          ./scripts/build.sh

  #### C#
  csharp-hello-world:
    name: C# HelloWorld
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/dotnet/sdk:3.1
    steps:
      - name: Checkout the repository
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      - name: Cache dotnet packages
        uses: actions/cache@1a9e2138d905efd099035b49d8b7a3888c653ca8
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget
      - name: Build
        run: |
          cd csharp/HelloWorld
          ./scripts/clean.sh
          ./scripts/build.sh
        uses: actions/upload-artifact@v2
        with:
          name: csharp helloworld
          path: ${GITHUB_WORKSPACE}/csharp/HelloWorld/bin/Release/**

  csharp-second-hello-world:
    name: C# Second Hello World
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/dotnet/sdk:3.1
    steps:
      - name: Checkout the repository
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      - name: Cache dotnet packages
        uses: actions/cache@1a9e2138d905efd099035b49d8b7a3888c653ca8
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget
      - name: Build
        run: |
          cd csharp/SecondHelloWorld
          ./scripts/clean.sh
          ./scripts/build.sh
  #### Go
  go-hello-world:
    name: Go Hello World
    runs-on: ubuntu-latest
    container:
      image: golang:1.15
    steps:
      - name: Checkout the repository
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      - name: Cache Go packages
        uses: actions/cache@1a9e2138d905efd099035b49d8b7a3888c653ca8
        with:
          path: /go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-
      - name: Build
        run: |
          cd go/HelloWorld
          ./scripts/build.sh
  go-second-hello-world:
    name: Go Second Hello World
    runs-on: ubuntu-latest
    container:
      image: golang:1.15
    steps:
      - name: Checkout the repository
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      - name: Cache Go packages
        uses: actions/cache@1a9e2138d905efd099035b49d8b7a3888c653ca8
        with:
          path: /go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-
      - name: Build
        run: |
          cd go/SecondHelloWorld
          ./scripts/build.sh
